* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8 + 10px);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background: deepskyblue;
}

.white {
  background: #eed4ac;
}

.selected {
  background: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}

.numbers {
  width: 10px;
  position: relative;
}

.numbers div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.letter {
  width: 64px;
  text-align: center;
}